@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
  font-family: 'Lato', 'Heiti TC', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei';
  font-style: normal;
  line-height: 1.5em;
}


/*html,
body {
  margin : 0;
  padding: 0;
  height : 100%;
}*/

::selection {
  background: #E74631;
  color: #fff;
}


/* 導覽列點點顏色 */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #E74631;
}


/* 導覽列tooltip */

#fp-nav ul:hover .fp-tooltip {
  color: #E74631;
  font-family: 'Lato', 'Heiti TC', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei';
  font-size: 16px;
  margin-top: -4px;
}

.sceneContainer {
  width: 375px;
  height: 667px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -187.5px;
  margin-top: -333.5px;
}






/* 共用CSS */
#fullpagePhoneScenes .BottomText {
  position: absolute;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.95em;
  line-height: 1.5em;
  bottom: 0px;
  width: 100%;
/*  margin: 0 auto;
  margin-top: 438px;*/
}
#fullpagePhoneScenes .topLine {
  margin: 0 auto;
  width: 95%;
  height: 2px;
  background-color: #000;
  margin-top: 21px;
}

#fullpagePhoneScenes .bottomLine {
  margin: 0 auto;
  width: 95%;
  height: 2px;
  background-color: #000;
}

#fullpagePhoneScenes .Heading {
  font-size: 0.9em;
  margin: -10px auto;
  text-align: center;
  font-weight: bold;
}

#fullpagePhoneScenes .subHeading {
  /*margin: 0 auto;*/
  position: absolute;
  width: 100%;
  text-align: center;
  color: #5E5E5E;
  font-size: 0.7em;
  top: 64px;
  /*margin-top: -5px;*/
}
/* 共用CSS */


/* Phone Scene01 */

#phoneScene01 .svg01Cloud01 {
  position: absolute;
  width: 891.18px;
  top: 368.88px;
  left: -258.558px;
  z-index: 5;
}

#phoneScene01 .svg01Cloud02 {
  position: absolute;
  width: 886.316px;
  top: 277.152px;
  left: -253.965px;
  z-index: 3;
}

#phoneScene01 .svg01Cloud03 {
  position: absolute;
  width: 888.598px;
  top: 104.339px;
  left: -256.248px;
  z-index: 2;
}

#phoneScene01 .svg01Cloud04 {
  position: absolute;
  width: 888.671px;
  top: 111.502px;
  left: -256.056px;
  z-index: 1;
}

#phoneScene01 .svg01Cloud05 {
  position: absolute;
  width: 888.984px;
  top: 115.025px;
  left: -256.345px;
}

#phoneScene01 .svg01Plane {
  position: absolute;
  width: 358.554px;
  top: 286.394px;
  left: -60.583px;
  z-index: 4;
}

#phoneScene01 .svg01WholeCharacter {
  position: absolute;
  /*width: 311.54px;*/
  top: 280px;
  left: 30px;
}

#phoneScene01 .svg01WholeCharacter div {
  display: inline-block;
}

#phoneScene01 .svg01Character01 {
  width: 37.322px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character02 {
  width: 35.618px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character03 {
  width: 37.654px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character04 {
  width: 37.613px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character05 {
  width: 37.197px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character06 {
  width: 36.656px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character07 {
  width: 37.155px;
  padding-left: 5px;
}

#phoneScene01 .svg01ChinaVsJapan {
  position: absolute;
  width: 368.054px;
  top: 111.679px;
  left: 3.352px;
  z-index: 1;
}

#phoneScene01 .country {
  position: absolute;
  top: 16.679px;
  left: 3.352px;
}

#phoneScene01 .country span {
  font-size: 25px;
  font-weight: bold;
  margin-left: 85px;
}

#phoneScene01 .svg01Door {
  position: absolute;
  width: 169.49px;
  top: 180.549px;
  left: 102.7px;
  z-index: 1;
}

#phoneScene01 .svg01Bg {
  position: absolute;
  width: 571.442px;
  top: -18.71px;
  left: -98.262px;
}

#phoneScene01 .svg01People01 {
  position: absolute;
  width: 91.804px;
  top: 352px;
  left: 14px;
  z-index: 1;
}

#phoneScene01 .svg01People02 {
  position: absolute;
  width: 71.233px;
  top: 288.755px;
  left: 17.184px;
}

#phoneScene01 .svg01People03 {
  position: absolute;
  width: 87.669px;
  top: 366.194px;
  left: 96.058px;
  z-index: 1;
}

#phoneScene01 .svg01People04 {
  position: absolute;
  width: 38.445px;
  top: 322.476px;
  left: 135.377px;
}

#phoneScene01 .svg01People05 {
  position: absolute;
  width: 47.958px;
  top: 323.476px;
  left: 197.188px;
}

#phoneScene01 .svg01People06 {
  position: absolute;
  width: 78.139px;
  top: 382.006px;
  left: 234.018px;
}

#phoneScene01 .svg01People07 {
  position: absolute;
  width: 70.764px;
  top: 281.44px;
  left: 290.694px;
}



#phoneScene01 .svg01ScrollDown {
  position: absolute;
  width: 38px;
  top: 616.158px;
  left: 168.5px;
}

#phoneScene01 .BottomText {
  margin-top: 505px;
}


/* Phone Scene02 */

#phoneScene02 .bubbleText {
  color: #FFF;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
}


/* ----------Bubble---------- */

#phoneScene02 .svg02BubbleHongKongAndMacao {
  position: absolute;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #E74631;
  top: 345.227px;
  left: 109.156px;
}

#phoneScene02 .svg02BubbleChina {
  position: absolute;
  width: 132.873px;
  height: 132.873px;
  border-radius: 50%;
  background-color: #E74631;
  top: 203.114px;
  left: 75.91px;
}

#phoneScene02 .svg02BubbleJapan {
  position: absolute;
  width: 88.978px;
  height: 88.978px;
  border-radius: 50%;
  background-color: #E74631;
  top: 288.227px;
  left: 207.156px;
}
#phoneScene02 .svg02BubbleSoutheastAsia {
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #E74631;
  top: 389.248px;
  left: 197.611px;
}

/* ----------Text---------- */

#phoneScene02 .svg02TextHongKongAndMacao {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 15px;
}
#phoneScene02 .svg02TextChina {
  margin: 0 auto;
  font-size: 22px;
  margin-top: 28px;
}
#phoneScene02 .svg02TextJapan {
  margin: 0 auto;
  font-size: 18px;
  margin-top: 15px;
}
#phoneScene02 .svg02TextSoutheastAsia {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 15px;
}

/* ----------Number---------- */

#phoneScene02 .svg02NumberHongKongAndMacao {
  margin: 0 auto;
  font-size: 18px;
  margin-top: -1px;
}
#phoneScene02 .svg02NumberChina {
  margin: 0 auto;
  font-size: 32.9176px;
  margin-top: 13px;
}
#phoneScene02 .svg02NumberJapan {
  margin: 0 auto;
  font-size: 20px;
  margin-top: 3px;
}
#phoneScene02 .svg02NumberSoutheastAsia {
  margin: 0 auto;
  font-size: 18px;
  margin-top: -1px;
}


/* ----------People---------- */
#phoneScene02 .svg02PeopleHongKongAndMacao {
  width: 89.549px;
}
#phoneScene02 .svg02PeopleChina {
  width: 68.663px;
}
#phoneScene02 .svg02PeopleJapan {
  width: 81.375px;
}
#phoneScene02 .svg02PeopleSoutheastAsia {
  width: 85.008px;
}

#phoneScene02 .people {
  position: absolute;
  top: 31%;
  left: 41%;
  opacity: 0;
  z-index: 1;
}



#phoneScene02 .svg02Door {
  position: absolute;
  width: 164.345px;
  top: 126.749px;
  left: 105.762px;
}



/* Phone Scene03 */
#phoneScene03 .svg03Sign {
  position: absolute;
  width: 320.44px;
  left: 26.91px;
  top: 67.02px;
}
#phoneScene03 .svg03GirlLeft {
  position: absolute;
  width: 144.86px;
  left: 39.03px;
  top: 288.78px;
}
#phoneScene03 .svg03GirlRight {
  position: absolute;
  width: 138.94px;
  left: 200.81px;
  top: 288.07px;
}
#phoneScene03 .svg03PieLeft {
  position: absolute;
  width: 79.27px;
  left: 9px;
  top: 102px;
}
#phoneScene03 .svg03PieRight {
  position: absolute;
  width: 79.27px;
  left: 50px;
  top: 102px;
}

#phoneScene03 .tourist {
  font-size: 14px;
}

#phoneScene03 .percent {
  font-size: 16px;
  color: #E74631;
  font-weight: bold;
}

#phoneScene03 .svg03TextLeft {
  position: absolute;
  width: 98px;
  left: 9px;
  top: 183px;
}
#phoneScene03 .svg03TextRight {
  position: absolute;
  width: 98px;
  left: 50px;
  top: 183px;
}
#phoneScene03 .svg03NumberLeft {
  position: absolute;
  width: 79.41px;
  left: 9px;
  top: 203px;
}
#phoneScene03 .svg03NumberRight {
  position: absolute;
  width: 79.41px;
  left: 50px;
  top: 203px;
}
#phoneScene03 .BottomText {
  margin-top: 480px;
}

/* Phone Scene04 */
#phoneScene04 .svg04LittleText {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #9E9F9F;
  text-align: center;
  width: 100%;
  bottom: 118px;
}
#phoneScene04 .svg04BannerJapan {
  position: absolute;
  width: 74.62px;
  left: 262.07px;
  top: 152.02px;
}
#phoneScene04 .svg04BannerJapan span {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  right: 8px;
  top: 4px;
}
#phoneScene04 .svg04BannerChina {
  position: absolute;
  width: 74.62px;
  left: 37.02px;
  top: 152.02px;
}
#phoneScene04 .svg04BannerChina span {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 8px;
  top: 4px;
}
#phoneScene04 .svg04BannerLong {
  position: absolute;
  width: 350.10px;
  left: 11.98px;
  top: 154.67px;
}
#phoneScene04 .svg04BannerLong span {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  top: 14px;
  text-align: center;
}
#phoneScene04 .svg04Floor01 {
  position: absolute;
  width: 116.48px;
  left: 128.89px;
  top: 410.88px;
  z-index: 2;
}


#phoneScene04 .svg04Floor02 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 364.84px;
  z-index: 1;
}

#phoneScene04 .svg04Floor03 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 311.61px;
  z-index: 1;
}

#phoneScene04 .svg04Floor04 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 256.23px;
  z-index: 1;
}

#phoneScene04 .svg04Floor05 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 200.85px;
  z-index: 1;
}

#phoneScene04 .svg04Floor06 {
  position: absolute;
  width: 44.21px;
  left: 160.88px;
  top: 130.17px;
}

#phoneScene04 .floorText {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  text-align: center;
  top: 8%;
}
#phoneScene04 .svg04Floor01 .floorText {
  top: 25%;
}

#phoneScene04 .svg04Floor02RightNumber {
  position: absolute;
  width: 27.84px;
  left: 249.99px;
  top: 383.74px;
}
#phoneScene04 .svg04Floor03RightNumber {
  position: absolute;
  width: 27.84px;
  left: 252.16px;
  top: 334.05px;
}
#phoneScene04 .svg04Floor01RightNumber {
  position: absolute;
  width: 37.12px;
  left: 313.05px;
  top: 458.39px;
}
#phoneScene04 .svg04Floor01LeftNumber {
  position: absolute;
  width: 37.12px;
  left: 20.80px;
  top: 458.39px;
}
#phoneScene04 .svg04Floor02LeftNumber {
  position: absolute;
  width: 27.84px;
  left: 98.41px;
  top: 383.74px;
}
#phoneScene04 .svg04Floor03LeftNumber {
  position: absolute;
  width: 27.84px;
  left: 100.08px;
  top: 334.07px;
}
#phoneScene04 .svg04Floor04LeftNumber {
  position: absolute;
  width: 27.84px;
  left: 87.95px;
  top: 278.33px;
}
#phoneScene04 .svg04Floor05RightNumber {
  position: absolute;
  width: 27.84px;
  left: 254.66px;
  top: 222.59px;
}
#phoneScene04 .svg04Floor04RightNumber {
  position: absolute;
  width: 27.84px;
  left: 298.64px;
  top: 278.93px;
}
#phoneScene04 .svg04Floor05LeftNumber {
  position: absolute;
  width: 37.12px;
  left: 15.81px;
  top: 222.59px;
}
#phoneScene04 .svg04Floor01LeftBar {
  position: absolute;
  width: 133.19px;
  left: 17.46px;
  top: 460.12px;
}
#phoneScene04 .svg04Floor02LeftBar {
  position: absolute;
  width: 17.96px;
  left: 132.68px;
  top: 385.32px;
}
#phoneScene04 .svg04Floor03LeftBar {
  position: absolute;
  width: 16.94px;
  left: 133.70px;
  top: 335.35px;
}
#phoneScene04 .svg04Floor04LeftBar {
  position: absolute;
  width: 29.51px;
  left: 121.27px;
  top: 280.36px;
}
#phoneScene04 .svg04Floor05LeftBar {
  position: absolute;
  width: 90.65px;
  left: 59.99px;
  top: 224.05px;
}
#phoneScene04 .svg04Floor01RightBar {
  position: absolute;
  width: 134.75px;
  left: 221.05px;
  top: 460.12px;
}
#phoneScene04 .svg04Floor02RightBar {
  position: absolute;
  width: 21.67px;
  left: 221.05px;
  top: 385.32px;
}
#phoneScene04 .svg04Floor03RightBar {
  position: absolute;
  width: 24.62px;
  left: 221.05px;
  top: 335.35px;
}
#phoneScene04 .svg04Floor04RightBar {
  position: absolute;
  width: 70.75px;
  left: 221.18px;
  top: 280.36px;
}
#phoneScene04 .svg04Floor05RightBar {
  position: absolute;
  width: 26.28px;
  left: 221.05px;
  top: 224.09px;
}
#phoneScene04 .svg04Plane {
  position: absolute;
  opacity: 0;
  width: 62.87px;
  left: -738.37px;
  top: 70px;
}
#phoneScene04 .svg04Ground {
  position: absolute;
  width: 619.98px;
  left: -122.90px;
  top: 499.52px;
}
#phoneScene04 .svg04Cloud04 {
  position: absolute;
  width: 39.59px;
  left: 25.68px;
  top: 344.06px;
}
#phoneScene04 .svg04Cloud03 {
  position: absolute;
  width: 39.59px;
  left: 322.68px;
  top: 243.41px;
}
#phoneScene04 .svg04Cloud02 {
  position: absolute;
  width: 42.14px;
  left: 18.91px;
  top: 323.65px;
}
#phoneScene04 .svg04Balloon {
  position: absolute;
  width: 31.80px;
  left: 331.28px;
  top: 200.11px;
}



/* Phone Scene05 */


/* Phone Scene06 */


/* Phone Scene07 */


/* Phone Scene08 */


/* Phone Scene09 */


/* Phone Scene10 */

#test {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-left: -187.5px;
  margin-top: -333.5px;
}

#test img {
  width: 375px;
  height: 667px;
  opacity: 0.5;
}
