@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
  font-family: 'Lato', 'Heiti TC', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei';
  font-style: normal;
  line-height: 1.5em;
}


/*html,
body {
  margin : 0;
  padding: 0;
  height : 100%;
}*/

::selection {
  background: #E74631;
  color: #fff;
}


/* 導覽列點點顏色 */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #E74631;
}


/* 導覽列tooltip */

#fp-nav ul:hover .fp-tooltip {
  color: #E74631;
  font-family: 'Lato', 'Heiti TC', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei';
  font-size: 16px;
  margin-top: -4px;
}

.sceneContainer {
  width: 375px;
  height: 667px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -187.5px;
  margin-top: -333.5px;
  overflow: hidden;
}






/* 共用CSS */
#fullpagePhoneScenes .BottomText {
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5em;
  bottom: 0px;
  width: 100%;
  font-weight: bold;
}
#fullpagePhoneScenes .topLine {
  margin: 0 auto;
  width: 95%;
  height: 2px;
  background-color: #000;
  margin-top: 21px;
}

#fullpagePhoneScenes .bottomLine {
  margin: 0 auto;
  width: 95%;
  height: 2px;
  background-color: #000;
}

#fullpagePhoneScenes .Heading {
  margin: -10px auto;
}
#fullpagePhoneScenes .Heading h1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#fullpagePhoneScenes .subHeading {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 56px;
}
#fullpagePhoneScenes .subHeading h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: bold;
  color: #5E5E5E;
}
/* 共用CSS */


/* Phone Scene01 */

#phoneScene01 .svg01Cloud01 {
  position: absolute;
  width: 891.18px;
  top: 368.88px;
  left: -258.558px;
  z-index: 5;
}

#phoneScene01 .svg01Cloud02 {
  position: absolute;
  width: 886.316px;
  top: 277.152px;
  left: -253.965px;
  z-index: 3;
}

#phoneScene01 .svg01Cloud03 {
  position: absolute;
  width: 888.598px;
  top: 104.339px;
  left: -256.248px;
  z-index: 2;
}

#phoneScene01 .svg01Cloud04 {
  position: absolute;
  width: 888.671px;
  top: 111.502px;
  left: -256.056px;
  z-index: 1;
}

#phoneScene01 .svg01Cloud05 {
  position: absolute;
  width: 888.984px;
  top: 115.025px;
  left: -256.345px;
}

#phoneScene01 .svg01Plane {
  position: absolute;
  width: 358.554px;
  top: 286.394px;
  left: -60.583px;
  z-index: 4;
}

#phoneScene01 .svg01WholeCharacter {
  position: absolute;
  /*width: 311.54px;*/
  top: 280px;
  left: 30px;
}

#phoneScene01 .svg01WholeCharacter div {
  display: inline-block;
}

#phoneScene01 .svg01Character01 {
  width: 37.322px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character02 {
  width: 35.618px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character03 {
  width: 37.654px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character04 {
  width: 37.613px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character05 {
  width: 37.197px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character06 {
  width: 36.656px;
  padding-left: 5px;
}

#phoneScene01 .svg01Character07 {
  width: 37.155px;
  padding-left: 5px;
}

#phoneScene01 .svg01ChinaVsJapan {
  position: absolute;
  width: 368.054px;
  top: 104.679px;
  left: 3.352px;
  z-index: 1;
}

#phoneScene01 .country {
  position: absolute;
  top: 16.679px;
  left: 3.352px;
}

#phoneScene01 .country span {
  font-size: 25px;
  font-weight: bold;
  margin-left: 85px;
}

#phoneScene01 .svg01Door {
  position: absolute;
  width: 169.49px;
  top: 180.549px;
  left: 102.7px;
  z-index: 1;
}

#phoneScene01 .svg01Bg {
  position: absolute;
  width: 571.442px;
  top: -18.71px;
  left: -98.262px;
}

#phoneScene01 .svg01People01 {
  position: absolute;
  width: 91.804px;
  top: 352px;
  left: 14px;
  z-index: 1;
}

#phoneScene01 .svg01People02 {
  position: absolute;
  width: 71.233px;
  top: 288.755px;
  left: 17.184px;
}

#phoneScene01 .svg01People03 {
  position: absolute;
  width: 87.669px;
  top: 366.194px;
  left: 96.058px;
  z-index: 1;
}

#phoneScene01 .svg01People04 {
  position: absolute;
  width: 38.445px;
  top: 322.476px;
  left: 135.377px;
}

#phoneScene01 .svg01People05 {
  position: absolute;
  width: 47.958px;
  top: 323.476px;
  left: 197.188px;
}

#phoneScene01 .svg01People06 {
  position: absolute;
  width: 78.139px;
  top: 382.006px;
  left: 234.018px;
}

#phoneScene01 .svg01People07 {
  position: absolute;
  width: 70.764px;
  top: 281.44px;
  left: 290.694px;
}



#phoneScene01 .svg01ScrollDown {
  position: absolute;
  width: 38px;
  top: 616.158px;
  left: 168.5px;
}

#phoneScene01 .BottomText {
  bottom: 65px;
}


/* Phone Scene02 */

#phoneScene02 .bubbleText {
  color: #FFF;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
}


/* ----------Bubble---------- */

#phoneScene02 .svg02BubbleHongKongAndMacao {
  position: absolute;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #E74631;
  top: 345.227px;
  left: 109.156px;
}

#phoneScene02 .svg02BubbleChina {
  position: absolute;
  width: 132.873px;
  height: 132.873px;
  border-radius: 50%;
  background-color: #E74631;
  top: 203.114px;
  left: 75.91px;
}

#phoneScene02 .svg02BubbleJapan {
  position: absolute;
  width: 88.978px;
  height: 88.978px;
  border-radius: 50%;
  background-color: #E74631;
  top: 288.227px;
  left: 207.156px;
}
#phoneScene02 .svg02BubbleSoutheastAsia {
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #E74631;
  top: 389.248px;
  left: 197.611px;
}

/* ----------Text---------- */

#phoneScene02 .svg02TextHongKongAndMacao {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 15px;
}
#phoneScene02 .svg02TextChina {
  margin: 0 auto;
  font-size: 22px;
  margin-top: 28px;
}
#phoneScene02 .svg02TextJapan {
  margin: 0 auto;
  font-size: 18px;
  margin-top: 15px;
}
#phoneScene02 .svg02TextSoutheastAsia {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 15px;
}

/* ----------Number---------- */

#phoneScene02 .svg02NumberHongKongAndMacao {
  margin: 0 auto;
  font-size: 18px;
  margin-top: -1px;
}
#phoneScene02 .svg02NumberChina {
  margin: 0 auto;
  font-size: 32.9176px;
  margin-top: 13px;
}
#phoneScene02 .svg02NumberJapan {
  margin: 0 auto;
  font-size: 20px;
  margin-top: 3px;
}
#phoneScene02 .svg02NumberSoutheastAsia {
  margin: 0 auto;
  font-size: 18px;
  margin-top: -1px;
}


/* ----------People---------- */
#phoneScene02 .svg02PeopleHongKongAndMacao {
  width: 89.549px;
}
#phoneScene02 .svg02PeopleChina {
  width: 68.663px;
}
#phoneScene02 .svg02PeopleJapan {
  width: 81.375px;
}
#phoneScene02 .svg02PeopleSoutheastAsia {
  width: 85.008px;
}

#phoneScene02 .people {
  position: absolute;
  top: 31%;
  left: 41%;
  opacity: 0;
  z-index: 1;
}



#phoneScene02 .svg02Door {
  position: absolute;
  width: 164.345px;
  top: 126.749px;
  left: 105.762px;
}



/* Phone Scene03 */
#phoneScene03 .svg03Sign {
  position: absolute;
  width: 320.44px;
  left: 26.91px;
  top: 55.02px;
}
#phoneScene03 .svg03GirlLeft {
  position: absolute;
  width: 144.86px;
  left: 39.03px;
  top: 288.78px;
}
#phoneScene03 .svg03GirlRight {
  position: absolute;
  width: 138.94px;
  left: 200.81px;
  top: 288.07px;
}
#phoneScene03 .svg03PieLeft {
  position: absolute;
  width: 79.27px;
  left: 9px;
  top: 102px;
}
#phoneScene03 .svg03PieRight {
  position: absolute;
  width: 79.27px;
  left: 50px;
  top: 102px;
}

#phoneScene03 .tourist {
  font-size: 14px;
}

#phoneScene03 .percent {
  font-size: 16px;
  color: #E74631;
  font-weight: bold;
}

#phoneScene03 .svg03TextLeft {
  position: absolute;
  width: 98px;
  left: 9px;
  top: 183px;
}
#phoneScene03 .svg03TextRight {
  position: absolute;
  width: 98px;
  left: 50px;
  top: 183px;
}
#phoneScene03 .svg03NumberLeft {
  position: absolute;
  width: 79.41px;
  left: 9px;
  top: 203px;
}
#phoneScene03 .svg03NumberRight {
  position: absolute;
  width: 79.41px;
  left: 50px;
  top: 203px;
}
#phoneScene03 .BottomText {
  margin-top: 480px;
}

/* Phone Scene04 */
#phoneScene04 .svg04LittleText {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #9E9F9F;
  text-align: center;
  width: 100%;
  bottom: 118px;
}
#phoneScene04 .svg04BannerJapan {
  position: absolute;
  width: 74.62px;
  left: 262.07px;
  top: 152.02px;
}
#phoneScene04 .svg04BannerJapan span {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  right: 8px;
  top: 4px;
}
#phoneScene04 .svg04BannerChina {
  position: absolute;
  width: 74.62px;
  left: 37.02px;
  top: 152.02px;
}
#phoneScene04 .svg04BannerChina span {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 8px;
  top: 4px;
}
#phoneScene04 .svg04BannerLong {
  position: absolute;
  width: 350.10px;
  left: 11.98px;
  top: 154.67px;
}
#phoneScene04 .svg04BannerLong span {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  top: 14px;
  text-align: center;
}
#phoneScene04 .svg04Floor01 {
  position: absolute;
  width: 116.48px;
  left: 128.89px;
  top: 410.88px;
  z-index: 2;
}


#phoneScene04 .svg04Floor02 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 364.84px;
  z-index: 1;
}

#phoneScene04 .svg04Floor03 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 311.61px;
  z-index: 1;
}

#phoneScene04 .svg04Floor04 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 256.23px;
  z-index: 1;
}

#phoneScene04 .svg04Floor05 {
  position: absolute;
  width: 91.06px;
  left: 140.93px;
  top: 200.85px;
  z-index: 1;
}

#phoneScene04 .svg04Floor06 {
  position: absolute;
  width: 44.21px;
  left: 160.88px;
  top: 130.17px;
}

#phoneScene04 .floorText {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  text-align: center;
  top: 8%;
}
#phoneScene04 .svg04Floor01 .floorText {
  top: 25%;
}

#phoneScene04 .svg04Floor02RightNumber {
  position: absolute;
  width: 27.84px;
  left: 249.99px;
  top: 383.74px;
}
#phoneScene04 .svg04Floor03RightNumber {
  position: absolute;
  width: 27.84px;
  left: 252.16px;
  top: 334.05px;
}
#phoneScene04 .svg04Floor01RightNumber {
  position: absolute;
  width: 37.12px;
  left: 313.05px;
  top: 458.39px;
  color: #FFF;
}
#phoneScene04 .svg04Floor01LeftNumber {
  position: absolute;
  width: 37.12px;
  left: 20.80px;
  top: 458.39px;
  color: #FFF;
}
#phoneScene04 .svg04Floor02LeftNumber {
  position: absolute;
  width: 27.84px;
  left: 98.41px;
  top: 383.74px;
}
#phoneScene04 .svg04Floor03LeftNumber {
  position: absolute;
  width: 27.84px;
  left: 100.08px;
  top: 334.07px;
}
#phoneScene04 .svg04Floor04LeftNumber {
  position: absolute;
  width: 27.84px;
  left: 87.95px;
  top: 278.33px;
}
#phoneScene04 .svg04Floor05RightNumber {
  position: absolute;
  width: 27.84px;
  left: 254.66px;
  top: 222.59px;
}
#phoneScene04 .svg04Floor04RightNumber {
  position: absolute;
  width: 27.84px;
  left: 298.64px;
  top: 278.93px;
}
#phoneScene04 .svg04Floor05LeftNumber {
  position: absolute;
  width: 37.12px;
  left: 15.81px;
  top: 222.59px;
}
#phoneScene04 .svg04Floor01LeftBar {
  position: absolute;
  width: 133.19px;
  left: 17.46px;
  top: 460.12px;
}
#phoneScene04 .svg04Floor02LeftBar {
  position: absolute;
  width: 17.96px;
  left: 132.68px;
  top: 385.32px;
}
#phoneScene04 .svg04Floor03LeftBar {
  position: absolute;
  width: 16.94px;
  left: 133.70px;
  top: 335.35px;
}
#phoneScene04 .svg04Floor04LeftBar {
  position: absolute;
  width: 29.51px;
  left: 121.27px;
  top: 280.36px;
}
#phoneScene04 .svg04Floor05LeftBar {
  position: absolute;
  width: 90.65px;
  left: 59.99px;
  top: 224.05px;
}
#phoneScene04 .svg04Floor01RightBar {
  position: absolute;
  width: 134.75px;
  left: 221.05px;
  top: 460.12px;
}
#phoneScene04 .svg04Floor02RightBar {
  position: absolute;
  width: 21.67px;
  left: 221.05px;
  top: 385.32px;
}
#phoneScene04 .svg04Floor03RightBar {
  position: absolute;
  width: 24.62px;
  left: 221.05px;
  top: 335.35px;
}
#phoneScene04 .svg04Floor04RightBar {
  position: absolute;
  width: 70.75px;
  left: 221.18px;
  top: 280.36px;
}
#phoneScene04 .svg04Floor05RightBar {
  position: absolute;
  width: 26.28px;
  left: 221.05px;
  top: 224.09px;
}
#phoneScene04 .svg04Plane {
  position: absolute;
  opacity: 0;
  width: 62.87px;
  left: -738.37px;
  top: 70px;
}
#phoneScene04 .svg04Ground {
  position: absolute;
  width: 619.98px;
  left: -122.90px;
  top: 499.52px;
}
#phoneScene04 .svg04Cloud04 {
  position: absolute;
  width: 39.59px;
  left: 25.68px;
  top: 344.06px;
}
#phoneScene04 .svg04Cloud03 {
  position: absolute;
  width: 39.59px;
  left: 322.68px;
  top: 243.41px;
}
#phoneScene04 .svg04Cloud02 {
  position: absolute;
  width: 42.14px;
  left: 18.91px;
  top: 323.65px;
}
#phoneScene04 .svg04Balloon {
  position: absolute;
  width: 31.80px;
  left: 331.28px;
  top: 200.11px;
}



/* Phone Scene05 */
#phoneScene05 .svg05Floor03RightNumber {
  position: absolute;
  width: 46.87px;
  left: 302.42px;
  top: 335.97px;
  color: #FFF;
}
#phoneScene05 .svg05Floor01RightNumber {
  position: absolute;
  width: 38.17px;
  left: 295.41px;
  top: 457.78px;
}
#phoneScene05 .svg05Floor02RightNumber {
  position: absolute;
  width: 38.17px;
  left: 304.17px;
  top: 396.43px;
}
#phoneScene05 .svg05Floor04RightNumber {
  position: absolute;
  width: 38.17px;
  left: 293.66px;
  top: 275.01px;
}
#phoneScene05 .svg05Floor05RightNumber {
  position: absolute;
  width: 46.87px;
  left: 317.95px;
  top: 213.78px;
}
#phoneScene05 .svg05Floor01LeftNumber {
  position: absolute;
  width: 46.87px;
  left: 20.52px;
  top: 457.78px;
}
#phoneScene05 .svg05Floor02LeftNumber {
  position: absolute;
  width: 38.17px;
  left: 44.14px;
  top: 396.43px;
}
#phoneScene05 .svg05Floor03LeftNumber {
  position: absolute;
  width: 46.87px;
  left: 44.14px;
  top: 335.93px;
}
#phoneScene05 .svg05Floor04LeftNumber {
  position: absolute;
  width: 46.87px;
  left: 49.41px;
  top: 275.01px;
}
#phoneScene05 .svg05Floor05LeftNumber {
  position: absolute;
  width: 46.87px;
  left: 23.02px;
  top: 213.82px;
  color: #FFF;
}
#phoneScene05 .svg05BannerJapan {
  position: absolute;
  width: 32.04px;
  left: 266.10px;
  top: 154.88px;
}
#phoneScene05 .svg05BannerChina {
  position: absolute;
  width: 31.01px;
  left: 81.12px;
  top: 156.34px;
}
#phoneScene05 .svg05BannerLong {
  position: absolute;
  width: 540.88px;
  left: -79.52px;
  top: 135.12px;
}
#phoneScene05 .svg05BannerJapan span{
  position: absolute;
  right: -42px;
  top: -1px;
  font-weight: bold;
  font-size: 14px;
}
#phoneScene05 .svg05BannerChina span{
  position: absolute;
  left: -42px;
  top: -1px;
  font-weight: bold;
  font-size: 14px;
}
#phoneScene05 .svg05BannerLong span{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  font-weight: bold;
  font-size: 14px;
}
#phoneScene05 .svg05LittleText {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #9E9F9F;
  text-align: center;
  width: 100%;
  bottom: 134px;
  z-index: 6;
}
#phoneScene05 .svg05RightCar {
  position: absolute;
  width: 29.08px;
  left: 266.33px;
  top: 197.82px;
  z-index: 6;
}
#phoneScene05 .svg05LeftCar {
  position: absolute;
  width: 29.08px;
  left: 82.78px;
  top: 197.05px;
  z-index: 6;
}
#phoneScene05 .svg05Floor01LeftBar {
  position: absolute;
  width: 28.73px;
  left: 71.39px;
  top: 460.29px;
}
#phoneScene05 .svg05Floor02LeftBar {
  position: absolute;
  width: 14.17px;
  left: 85.95px;
  top: 399.2px;
}
#phoneScene05 .svg05Floor03LeftBar {
  position: absolute;
  width: 61.21px;
  left: 38.92px;
  top: 338.1px;
}
#phoneScene05 .svg05Floor04LeftBar {
  position: absolute;
  width: 53.97px;
  left: 46.15px;
  top: 277px;
}
#phoneScene05 .svg05Floor05LeftBar {
  position: absolute;
  width: 83.59px;
  left: 16.53px;
  top: 215.9px;
}
#phoneScene05 .mask {
  position: absolute;
  top: 27px;
  width: 100%;
  background-color: #FFF;
  height: 50px;
  z-index: -1;
}

#phoneScene05 .svg05Floor01 {
  position: absolute;
  width: 141.17px;
  left: 120.30px;
  top: 465.62px;
  z-index: 5;
}
#phoneScene05 .svg05Floor01People {
  position: absolute;
  width: 95.15px;
  left: 25px;
  top: -25px;
  z-index: -2;
}
#phoneScene05 .svg05Floor02 {
  position: absolute;
  width: 141.28px;
  left: 120.24px;
  top: 408.05px;
  z-index: 4;
}
#phoneScene05 .svg05Floor02People {
  position: absolute;
  width: 116.38px;
  left: 11px;
  top: -28px;
  z-index: -2;
}
#phoneScene05 .svg05Floor03 {
  position: absolute;
  width: 141.39px;
  left: 120.18px;
  top: 346.34px;
  z-index: 3;
}
#phoneScene05 .svg05Floor03People {
  position: absolute;
  width: 81.63px;
  left: 30px;
  top: -25px;
  z-index: -2;
}
#phoneScene05 .svg05Floor04 {
  position: absolute;
  width: 141.51px;
  left: 120.13px;
  top: 285.4px;
  z-index: 2;
}
#phoneScene05 .svg05Floor04People {
  position: absolute;
  width: 81.70px;
  left: 30px;
  top: -25px;
  z-index: -2;
}
#phoneScene05 .svg05Floor05 {
  position: absolute;
  width: 141.72px;
  left: 120.02px;
  top: 225.59px;
  z-index: 1;
}
#phoneScene05 .svg05Floor05People {
  position: absolute;
  width: 80.11px;
  left: 30px;
  top: -35px;
  z-index: -2;
}
#phoneScene05 .floorText {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  text-align: center;
  top: 8%;
}

#phoneScene05 .svg05Floor01RightBar {
  position: absolute;
  width: 3.48px;
  left: 285.34px;
  top: 460.29px;
}
#phoneScene05 .svg05Floor02RightBar {
  position: absolute;
  width: 12.95px;
  left: 285.34px;
  top: 399.2px;
}
#phoneScene05 .svg05Floor03RightBar {
  position: absolute;
  width: 68.50px;
  left: 285.34px;
  top: 338.1px;
}
#phoneScene05 .svg05Floor04RightBar {
  position: absolute;
  width: 3.86px;
  left: 285.34px;
  top: 277px;
}
#phoneScene05 .svg05Floor05RightBar {
  position: absolute;
  width: 29.28px;
  left: 285.34px;
  top: 215.9px;
}


/* Phone Scene06 */
#phoneScene06 .svg06HotelRightText {
  position: absolute;
  width: 120.73px;
  left: 239.84px;
  top: 428.19px;
  color: #E74631;
}
#phoneScene06 .svg06HotelLeftText {
  position: absolute;
  width: 116.09px;
  left: 30.56px;
  top: 225.47px;
  color: #E74631;
}
#phoneScene06 .svg06HotelRightText span {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#phoneScene06 .svg06HotelLeftText span {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#phoneScene06 .svg06HotelLeftNumber {
  font-weight: bold;
  font-size: 26px;
}
#phoneScene06 .svg06HotelRightNumber {
  font-weight: bold;
  font-size: 26px;
}
#phoneScene06 .svg06CarRight {
  position: absolute;
  width: 71.13px;
  left: 281.10px;
  top: 502.8px;
}
#phoneScene06 .svg06CarLeft {
  position: absolute;
  width: 89.57px;
  left: 15.58px;
  top: 337.3px;
}
#phoneScene06 .svg06MoneyLeft {
  position: absolute;
  width: 24.15px;
  left: 156.94px;
  top: 207.13px;
}
#phoneScene06 .svg06MoneyRight {
  position: absolute;
  width: 24.15px;
  left: 198.90px;
  top: 440.74px;
}
#phoneScene06 .svg06HotelLeft {
  position: absolute;
  width: 130.67px;
  left: 189.39px;
  top: 219.32px;
}
#phoneScene06 .svg06HotelRight {
  position: absolute;
  width: 130.67px;
  left: 58.69px;
  top: 395.74px;
}
#phoneScene06 .svg06HotelLeft span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 71px;
  font-weight: bold;
}
#phoneScene06 .svg06HotelRight span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 66px;
  font-weight: bold;
}
#phoneScene06 .svg06GroundLeft {
  position: absolute;
  width: 216.78px;
  left: 37.50px;
  top: 472.26px;
}
#phoneScene06 .svg06GroundRight {
  position: absolute;
  width: 216.78px;
  left: 119.46px;
  top: 302.48px;
}


/* Phone Scene07 */
#phoneScene07 .svg07TextLittleRight {
  position: absolute;
  width: 48.00px;
  left: 286.62px;
  top: 312.75px;
  color: #595757;
  font-size: 16px;
  font-weight: bold;
}

#phoneScene07 .svg07TextLittleLeft {
  position: absolute;
  width: 48.00px;
  left: 46.00px;
  top: 312.75px;
  color: #E74631;
  font-size: 16px;
  font-weight: bold;
}

#phoneScene07 .svg07TextTouristRight {
  position: absolute;
  width: 50.90px;
  left: 285.17px;
  top: 287.16px;
  color: #595757;
  font-size: 20px;
  font-weight: bold;
}

#phoneScene07 .svg07TextTouristLeft {
  position: absolute;
  width: 66.17px;
  left: 36.92px;
  top: 281.99px;
  color: #E74631;
  font-size: 26px;
  font-weight: bold;
}

#phoneScene07 .svg07TextGeneralHotelRight {
  position: absolute;
  width: 81.25px;
  left: 269.99px;
  top: 433.33px;
  color: #E74631;
  font-size: 26px;
  font-weight: bold;
}

#phoneScene07 .svg07TextInternationalHotelRight {
  position: absolute;
  width: 51.09px;
  left: 285.07px;
  top: 364.67px;
  color: #E74631;
  font-size: 26px;
  font-weight: bold;
}

#phoneScene07 .svg07TextGeneralHotelLeft {
  position: absolute;
  width: 62.50px;
  left: 38.75px;
  top: 438.5px;
  color: #595757;
  font-size: 20px;
  font-weight: bold;
}

#phoneScene07 .svg07TextInternationalHotelLeft {
  position: absolute;
  width: 62.50px;
  left: 38.75px;
  top: 367.8px;
  color: #595757;
  font-size: 20px;
  font-weight: bold;
}

#phoneScene07 .svg07TextInternationalHotel {
  position: absolute;
  width: 105.60px;
  left: 139.83px;
  top: 363.36px;
}
#phoneScene07 .svg07TextInternationalHotel span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #9E9F9F;
  line-height: 24px;
}
#phoneScene07 .svg07TextInternationalHotel span:first-child {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
#phoneScene07 .svg07TextTourist {
  position: absolute;
  width: 88.00px;
  left: 151.63px;
  top: 300.6px;
}
#phoneScene07 .svg07TextTourist span {
  font-weight: bold;
  font-size: 16px;
}
#phoneScene07 .svg07TextGeneralHotel {
  position: absolute;
  width: 105.60px;
  left: 139.83px;
  top: 443.61px;
}
#phoneScene07 .svg07TextGeneralHotel span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #9E9F9F;
  line-height: 24px;
}
#phoneScene07 .svg07TextGeneralHotel span:first-child {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
#phoneScene07 .svg07TextChina {
  position: absolute;
  width: 50px;
  left: 46.14px;
  top: 191.47px;
}
#phoneScene07 .svg07TextJapan {
  position: absolute;
  width: 50px;
  left: 286.50px;
  top: 191.22px;
}
#phoneScene07 .svg07TextChina span{
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
#phoneScene07 .svg07TextJapan span{
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}
#phoneScene07 .svg07TextChina img{
  display: block;
  width: 27.69px;
  margin: 0 auto;
}
#phoneScene07 .svg07TextJapan img{
  display: block;
  width: 27.69px;
  margin: 0 auto;
}
#phoneScene07 .svg07LineJapan {
  position: absolute;
  width: 78.00px;
  height: 1px;
  left: 271.50px;
  top: 246.63px;
  z-index: 1;
  background-color: #000;
}

#phoneScene07 .svg07LineChina {
  position: absolute;
  width: 78.00px;
  height: 1px;
  left: 31.00px;
  top: 247.6px;
  z-index: 1;
  background-color: #000;
}


#phoneScene07 .svg07GirlLeft {
  position: absolute;
  width: 143.88px;
  left: 17.25px;
  top: 85.88px;
}
#phoneScene07 .svg07GirlRight {
  position: absolute;
  width: 184.69px;
  left: 178.14px;
  top: 88.94px;
}


/* Phone Scene08 */

#phoneScene08 .svg08BrownTaitung {
  position: absolute;
  width: 50.00px;
  left: 69.42px;
  top: 265.95px;
}
#phoneScene08 .svg08BrownKaohsiung {
  position: absolute;
  width: 50.00px;
  left: 27.99px;
  top: 305.63px;
}
#phoneScene08 .svg08BrownTaoyuan {
  position: absolute;
  width: 50.00px;
  left: 27.00px;
  top: 188.51px;
}
#phoneScene08 .svg08BrownTaipei {
  position: absolute;
  width: 50.00px;
  left: 63.56px;
  top: 164.2px;
}
#phoneScene08 .svg08Taiwan {
  position: absolute;
  width: 90.14px;
  left: 28.31px;
  top: 155.68px;
}
#phoneScene08 .svg08PeopleLeft {
  position: absolute;
  width: 51.38px;
  left: 41.42px;
  top: 347.12px;
  z-index: 2;
}


#phoneScene08 .svg08LineKaohsiungTooltip {
  position: absolute;
  width: 72.50px;
  left: 73.00px;
  top: 330.62px;
}
#phoneScene08 .svg08LineTaitungTooltip {
  position: absolute;
  width: 49.50px;
  left: 95.62px;
  top: 306.91px;
}
#phoneScene08 .svg08LineTaoyuanTooltip {
  position: absolute;
  width: 79.00px;
  left: 66.50px;
  top: 224.62px;
}
#phoneScene08 .svg08LineTaipeiTooltipChina {
  position: absolute;
  width: 46.50px;
  left: 99.00px;
  top: 200.62px;
}
#phoneScene08 .svg08BrownKaohsiungTooltip {
  position: absolute;
  width: 206.05px;
  left: 145.91px;
  top: 406.73px;
}
#phoneScene08 .svg08BrownTaitungTooltip {
  position: absolute;
  width: 206.62px;
  left: 145.34px;
  top: 344.01px;
}
#phoneScene08 .svg08BrownTaoyuanTooltip {
  position: absolute;
  width: 206.24px;
  left: 145.71px;
  top: 281.3px;
}
#phoneScene08 .svg08BrownTaipeiTooltipChina {
  position: absolute;
  width: 206.83px;
  left: 145.12px;
  top: 156.19px;
}
#phoneScene08 .svg08BrownTaipeiTooltipJapan {
  position: absolute;
  width: 208.23px;
  left: 144.82px;
  top: 155.81px;
}
#phoneScene08 .svg08LineTaipeiTooltipJapan {
  position: absolute;
  width: 46.50px;
  left: 99.00px;
  top: 200.62px;
}

#phoneScene08 .brownCircle {
  width: 50px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #FFF;
  border: 1px solid #000;
  background-color: #B8834E;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 1px;
  z-index: 1;
}

#phoneScene08 .brownCircle span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
}
#phoneScene08 .svg08ButtonChina {
    left: 28px;
    top: 79.32px;
    
}
#phoneScene08 .svg08ButtonJapan {
    left: 212px;
    top: 79.32px;
}
#phoneScene08 .coolButton {
    position: absolute;
    width: 134.523px;
    height: 29.632px;
    background-color: #E74631;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
#phoneScene08 .coolButton span {
    display: block;
    padding-top:1px;
}
#phoneScene08 .coolButton:before {
    content: '';
    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    position: absolute;
    top: 4.1px;
    left: -11px;
    background-color: #E74631;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    z-index: -1;
}
#phoneScene08 .coolButton:after {
    content: '';
    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    position: absolute;
    top: 4.1px;
    left: 123px;
    background-color: #E74631;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    z-index: -1;
}

#phoneScene08 .bottom{
    top: 6px;
    z-index: -2;
    background-color: #C63228;
}
#phoneScene08 .bottom:before{
    background-color: #C63228;
    border-left: 0px solid #000;
}

#phoneScene08 .bottom:after{
    background-color: #C63228;
    border-top: 0px solid #000;
}
#phoneScene08 .line {
    top: 15px;
    left: -16px;
    position: absolute;
    width: 165px;
    height: 8px;
    background-color: #C63228;
    z-index: -4;
}
#phoneScene08 .line:before{
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 0px;
}
#phoneScene08 .line:after{
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    position: absolute;
    left: 164.5px;
    top: 0px;
}



#phoneScene08 .red{
    background-color: #E74631;
    color: #fff;
    transition: all 0.5s;
}
#phoneScene08 .red:before{
    background-color: #E74631;
    transition: all 0.5s;
}
#phoneScene08 .red:after{
    background-color: #E74631;
    transition: all 0.5s;
}
#phoneScene08 .red .bottom{
    background-color: #C63228;
    transition: all 0.5s;
}
#phoneScene08 .red .bottom:before{
    background-color: #C63228;
    transition: all 0.5s;
}
#phoneScene08 .red .bottom:after{
    background-color: #C63228;
    transition: all 0.5s;
}
#phoneScene08 .red .line{
    background-color: #C63228;
    transition: all 0.5s;
}




#phoneScene08 .white{
    background-color: #fff;
    color: #000;
    transition: all 0.5s;
}
#phoneScene08 .white:before{
    background-color: #fff;
    transition: all 0.5s;
}
#phoneScene08 .white:after{
    background-color: #fff;
    transition: all 0.5s;
}
#phoneScene08 .white .bottom{
    background-color: #EEEEEE;
    transition: all 0.5s;
}
#phoneScene08 .white .bottom:before{
    background-color: #EEEEEE;
    transition: all 0.5s;
}
#phoneScene08 .white .bottom:after{
    background-color: #EEEEEE;
    transition: all 0.5s;
}
#phoneScene08 .white .line{
    background-color: #EEEEEE;
    transition: all 0.5s;
}



/* Phone Scene09 */
#phoneScene09 .svg09Plane {
  position: absolute;
  width: 338.33px;
  left: 17.96px;
  top: 808.71px;
}
#phoneScene09 .svg09FlagJapan {
  position: absolute;
  width: 53.90px;
  left: 283.55px;
  top: 73.31px;
}
#phoneScene09 .svg09FlagChina {
  position: absolute;
  width: 56.36px;
  left: 41.83px;
  top: 72.12px;
}
#phoneScene09 .svg09Text04Win {
  position: absolute;
  width: 22.33px;
  left: 16.45px;
  top: 312.53px;
}

#phoneScene09 .svg09Text05Win {
  position: absolute;
  width: 22.33px;
  left: 10.52px;
  top: 358.02px;
}

#phoneScene09 .svg09Text02Win {
  position: absolute;
  width: 22.33px;
  left: 42.26px;
  top: 198.48px;
}

#phoneScene09 .svg09Text01Win {
  position: absolute;
  width: 22.33px;
  left: 26.27px;
  top: 152.99px;
}
#phoneScene09 .svg09Text08Win {
  position: absolute;
  width: 22.33px;
  left: 312.75px;
  top: 549.83px;
}
#phoneScene09 .svg09Text07Win {
  position: absolute;
  width: 22.33px;
  left: 335.06px;
  top: 482.82px;
}
#phoneScene09 .svg09Text03Win {
  position: absolute;
  width: 22.33px;
  left: 338.59px;
  top: 243.98px;
}
#phoneScene09 .svg09Text03Right {
  position: absolute;
  width: 61.67px;
  left: 274.54px;
  top: 248.57px;
}
#phoneScene09 .svg09Text09 {
  position: absolute;
  width: 158.29px;
  left: 107.98px;
  top: 599.06px;
}
#phoneScene09 .svg09Text08 {
  position: absolute;
  width: 158.29px;
  left: 107.98px;
  top: 533.05px;
}
#phoneScene09 .svg09Text07 {
  position: absolute;
  width: 158.29px;
  left: 107.98px;
  top: 466.04px;
}
#phoneScene09 .svg09Text06 {
  position: absolute;
  width: 157.91px;
  left: 108.17px;
  top: 397.5px;
}
#phoneScene09 .svg09Text05 {
  position: absolute;
  width: 158.04px;
  left: 108.11px;
  top: 352px;
}
#phoneScene09 .svg09Text04 {
  position: absolute;
  width: 158.29px;
  left: 107.98px;
  top: 306.51px;
}
#phoneScene09 .svg09Text03 {
  position: absolute;
  width: 157.91px;
  left: 108.17px;
  top: 237.96px;
}
#phoneScene09 .svg09Text02 {
  position: absolute;
  width: 157.91px;
  left: 108.17px;
  top: 192.47px;
}
#phoneScene09 .svg09Text01 {
  position: absolute;
  width: 158.16px;
  left: 108.05px;
  top: 146.97px;
}
#phoneScene09 .svg09Divider {
  position: absolute;
  width: 354.22px;
  left: 10.39px;
  top: 289.05px;
}
#phoneScene09 .svg09TextJapan {
  position: absolute;
  width: 35.20px;
  left: 293.24px;
  top: 114.24px;
}
#phoneScene09 .svg09TextChina {
  position: absolute;
  width: 35.20px;
  left: 52.43px;
  top: 114.24px;
}
#phoneScene09 .svg09Runway {
  position: absolute;
  width: 54.96px;
  left: 159.65px;
  top: 118.67px;
  z-index: -1;
}
#phoneScene09 .svg09Text09Left {
  position: absolute;
  width: 75.50px;
  left: 27.77px;
  top: 605.75px;
}
#phoneScene09 .svg09Text06Left {
  position: absolute;
  width: 60.80px;
  left: 41.77px;
  top: 398.19px;
}
#phoneScene09 .svg09Text08Left {
  position: absolute;
  width: 33.11px;
  left: 68.17px;
  top: 550.09px;
}
#phoneScene09 .svg09Text07Left {
  position: absolute;
  width: 57.27px;
  left: 46.00px;
  top: 483.08px;
}
#phoneScene09 .svg09Text04Left {
  position: absolute;
  width: 57.27px;
  left: 46.00px;
  top: 313.36px;
}
#phoneScene09 .svg09Text05Left {
  position: absolute;
  width: 61.67px;
  left: 39.61px;
  top: 358.28px;
}
#phoneScene09 .svg09Text02Left {
  position: absolute;
  width: 34.68px;
  left: 69.59px;
  top: 198.75px;
}
#phoneScene09 .svg09Text01Left {
  position: absolute;
  width: 47.75px;
  left: 55.52px;
  top: 152.71px;
}
#phoneScene09 .svg09Text03Left {
  position: absolute;
  width: 61.67px;
  left: 39.61px;
  top: 244.24px;
}
#phoneScene09 .svg09Text09Right {
  position: absolute;
  width: 46.10px;
  left: 274.54px;
  top: 605.75px;
}
#phoneScene09 .svg09Text06Right {
  position: absolute;
  width: 75.50px;
  left: 274.54px;
  top: 403.19px;
}
#phoneScene09 .svg09Text08Right {
  position: absolute;
  width: 33.11px;
  left: 274.54px;
  top: 550.32px;
}
#phoneScene09 .svg09Text07Right {
  position: absolute;
  width: 57.27px;
  left: 274.54px;
  top: 483.47px;
}
#phoneScene09 .svg09Text04Right {
  position: absolute;
  width: 57.27px;
  left: 274.54px;
  top: 312.79px;
}
#phoneScene09 .svg09Text05Right {
  position: absolute;
  width: 52.15px;
  left: 274.54px;
  top: 358.28px;
}
#phoneScene09 .svg09Text03Right {
  position: absolute;
  width: 61.67px;
  left: 274.54px;
  top: 244.57px;
}
#phoneScene09 .svg09Text02Right {
  position: absolute;
  width: 34.68px;
  left: 274.54px;
  top: 198.75px;
}
#phoneScene09 .svg09Text01Right {
  position: absolute;
  width: 47.75px;
  left: 274.54px;
  top: 153.25px;
}

#phoneScene09 .centerBox {
  font-size: 13.5px;
  font-weight: bold;
  text-align: center;
  background-color: #FFF;
  padding: 5px 1px;
  border: 1px solid #0A080C;
  -webkit-border-radius: 7.64px;
          border-radius: 7.64px;
}
#phoneScene09 .normalText {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
  color: #595757;
}
#phoneScene09 .winText {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1px;
  color: #E74631;
}


/* Phone Scene10 */
#phoneScene10 .svg10Earth {
  position: absolute;
  width: 826.75px;
  left: -225.25px;
  top: 250.73px;
}
#phoneScene10 .subHeading {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px
  letter-spacing: 1px;
  top: 102px;
}

#phoneScene10 .svg10Light {
  position: absolute;
  top: -33px;
  left: 431px;
  width: 195.737px;
}
#phoneScene10 .svg10BubbleLeft {
  position: absolute;
  top: 124px;
  left: 296px;
  width: 87.119px;
}
#phoneScene10 .svg10BubbleRight {
  position: absolute;
  top: 124px;
  left: 416px;
  width: 121.411px;
}
#phoneScene10 .svg10TextSource {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #9E9F9F;
  bottom: 71px;
}
#phoneScene10 .svg10Footer {
  position: absolute;
  bottom: -10px;
  left: 50%;
  /*margin-top: -30.5145px;*/
  margin-left: -193.67px;
  width: 387.34px;
}








/*.......*/

#test {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-left: -187.5px;
  margin-top: -333.5px;
}

#test img {
  width: 375px;
  height: 667px;
  opacity: 0.5;
}
